#overlay {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 9999;
  pointer-events: none;
}

button {
  width: 80px;
}

.warmOrange {
  background-color: #ed8c03;
}

.softOrange {
  background-color: #fa9600;
}

.yellowOrange {
  background-color: #ebb113;
}
